<%= simple_form_for(@unit, html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @unit } %>
  
  <%= f.hidden_field :parent_id %>
  
  <div class="form-inputs">
  	<%= f.input :organization_id, collection: current_user.organizations %>
    <%= f.input :name %>
  </div>
  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>